body {font: 13px Verdana,Helvetica,Arial,Times; background-color: #AFB7BC; margin: 1%}
form {margin: 0}
img {vertical-align: middle}
.gm a {color: #2872AE; font-weight: bold}
.info {border: 1px solid #8C9F9B; background-color: #F0F0EE}
.txt,.post1 {padding: 3px; background-color: whitesmoke; color: #282828}
.post2 {background-color: #F1F1ED; padding: 3px}
.itm {height: 16px; width: 20px; font-size: 12px; padding: 0}
.tb {width: 100%; background-color: #B1B1AB; border: 1px solid #7B99C6}
.tb1 {width: 100%; border: 1px solid #7B99C6}
.th {background: #90b4c8 url(img/tab.gif) repeat-x; font-weight: bold; color: #1B4A85; text-align: center}
.eth {background: #EDEDE9 url(img/tbb.png) repeat-x bottom; font-weight: bold; color: #1B4A85; text-align: center; padding: 1px}
.eth1 {background: whitesmoke url(img/bgb.png) bottom repeat-x; font-weight: bold; border-top: 10px solid; text-align: center; padding: 1px}
th,.pth {background-color: #ECE9D8}
.th1 {width: 5px; background-image: url(img/tab1.gif)}
.th2 {width: 5px; background-image: url(img/tab2.gif)}
.bg {background-color: #EDEDE9}
.menu {background-color: #E3EEEE}
.newsimg {padding: 3px; padding-right: 5px; float: left}
a {text-decoration: none; color: #000097}
a:hover {text-decoration: underline; color: #0C5BB4}
a img {border: 0}
table.menu {background-color: #8C9F9B; width: 100%}
.mnag {background-color: #D9E6DB; color: #236978}
.nag {background-color: #D9E6DB}
.quote {background-color: #E7EFEF; border: 1px solid #ACC8C8; padding: 2px}
.menug {color: #4A5668}
.bbc {height: 23px; padding: 0px; width: 26px; margin: 0.3pt; font-size: 12px}
.txtm {font-size: 11px}
.apag {background-color: #E1E8E1; border: 1px solid #C5DAD5; font-weight: bold}
.upag {background-color: #E8EAE3; border: 1px solid #D5D5CE}
.code {background-color: #EFEFE7; border: 1px solid #DBDBCA; padding: 2px}
.listlink {color: #23456D; font-weight: bold}
.pollq {padding: 2px; text-align: center}
.pollstrip {background-color: #8088C1; border: 1px outset #6B75B8}
.cs {border: 1px solid #7B99C6; padding: 5px 3px 5px 28px; margin-bottom: 8px; background: url(../../img/icon/cs.png) 3px 3px no-repeat whitesmoke}

/*DHTML*/
.hint {border: 1px solid #63b499; background-color: #d5f0e1; position: absolute; display: none}
.hint .title {background-color: #a5dec0; margin: 0; padding: 2px; font-weight: bold; text-align: center}
.menulist ul {margin: 0; padding: 0; list-style-type: none}
.menulist li {padding: 2px; cursor: pointer}
.hint li:hover {background-color: #fbf9db}