body {
	font: 13px Verdana,Helvetica,Arial,Times;
	background-color: #9CBCC0;
	margin: 0.5% auto;
	width: 99%;
	max-width: 1024px;
}
a {
	text-decoration: none;
	color: #000097
}
a:hover {
	text-decoration: underline;
	color: #3a7ed1
}
img {
	vertical-align: text-bottom;
	border: 0
}
h3 {
	font-size: 13px;
	margin: 3px 0
}
h1, h2, .tb caption {
	margin: 0;
	font: bold 13px Verdana;
	border: 1px solid #C6CDC2; border-bottom: 0;
	background: #F0F4F1 url(1/th.png) repeat-x;
	text-align: center;
	color: #396F79;
	padding: 1px;
}
form {margin: 0}
optgroup {font-style: normal}
textarea {font: 13px Verdana,Helvetica}
label {cursor: pointer}
input:focus {background-color: #ffffca}

/* LAYOUT */
#top, #bar, #mid, #footer {
	border: 1px solid #ACACA4;
	overflow: hidden
}
#top {
	height: 60px;
	padding-left: 220px;
	text-align: center;
	background: #E8E8E6 url(1/logo.png) no-repeat;
}
#bar {
	background-color: #F0F0EE;
	padding: 3px 8px 3px 8px;
	border-width: 0 1px;
}
#bar a {
	color: #2872AE;
	margin: 0 5px;
	font-weight: bold
}
#flags {
	float: right;
	width: 300px;
	font-size: 12px;
	letter-spacing: 5px
}
#today {
	float: right;
}
#mid {
	min-width: 400px;
	padding-left: 200px;
	padding-right: 218px;
	position: relative;
	background-color: #E8E8E6 /* main color */
}
#left {
	width: 182px; /* width - padding */
	margin-left: -100%;
	right: 216px;
}
#right {
	width: 182px;
	margin-right: -218px;
}
#main {
	width: 100%;
	background-color: #EDEDEB;
	border: 1px solid #ACACA4;
	border-width: 0 1px;
}
#left, #right, #main {
	padding: 8px 8px 10000px;
	margin-bottom: -10000px;
	position: relative;
	float: left
}
#footer {
	clear: both;
	background-color: #DCDCD6;
	padding: 3px;
	border-top: 0;
	text-align: center
}
#credits {
	font-size: 10px;
	text-align: center;
	color: #05a984;
	margin: 5px
}
#credits a {
	color: #017e6b
}
#actions {
	overflow:hidden
}
* html #left {
	left: 200px; /* IE hack */
}
#actions a {margin: 0 0 0 5px; float: right}
.action {float: right; color: white; margin: 8px}

/* LISTS */
ul,ol {margin: 9px; padding-left: 25px}
ul.go {list-style-image: url(../../img/icon/go.png)}
ul.gallery {list-style: none; padding: 0; margin: 0}
ul.gallery li {
	display: inline-block;
	width: 30%;
	padding: 5px;
	text-align: center;
}
ul.cats {
	list-style-image: url(../../img/icon/folder.png);
	overflow: hidden
}
ul.cats li {
	width: 50%;
	float: left
}
.files div {
	background: url(../../img/icon/file.png) no-repeat 6px 6px;
	padding: 3px 0 5px 32px;
	min-height: 32px;
}
.items td {
	height: 40px;
	padding-left: 40px !important;
}
.art td { background: url(../../img/icon/art.png) no-repeat 5px 50% }
.link td { background: url(../../img/icon/link.png) no-repeat 3px 50% }
.items a {font-weight: bold}
.items h3 {margin: 0}

/* MENU */
.menu {
	background-color: #F4F4F2;
	padding: 2px 3px;
	margin-bottom: 7px;
	border: 1px solid #C9C9C7
}
.mh {
	font-weight: bold;
	color: #616161;
	background: #EDEDEB url(1/m.png) repeat-x;
	text-align: center;
	padding: 1px;
	border: 1px solid #C9C9C7;
	border-bottom: 0
}
.menu ul {margin: 0; padding-left: 14px}
.menu ul a {display: block}
.pollOptions {margin: 5px 0}
.pollQuestion, .pollSubmit {text-align: center; margin: 2px 0}
.addComment {padding: 7px}
#online {line-height: 22px}
#tags {min-height: 18px}
path {transition: opacity 0.5s ease-out}
path:hover {opacity: 0.7}

/* BLOCKS */
th {
	background-color: #E9EFEC;
	font-weight: normal
}
.tb {
	background-color: #C6CDC2;
	border-spacing: 1px;
	width: 100%;
	margin-bottom: 8px
}
.eth, .end, .tb tfoot {
	color: #236978;
	background: #F1F3F2 url(1/e.png);
	text-align: center;
	padding: 1px;
}
.end {
	border: 1px solid #C6CDC2;
	border-top: 0;
	margin: -8px 0 8px 0;
}
.box, #tags {
	overflow: hidden;
	border: 1px solid #C6CDC2;
	background-color: #F7F7F7;
	padding: 3px;
	margin-bottom: 8px;
	line-height: 18px;
	text-align: justify;
	word-wrap: break-word
}
.eth td,th,pre,blockquote {padding: 2px}
.tb tbody {background-color: #F7F7F7}
.tb td {padding: 3px}

/* CATEGORY PATH */
#path {
	border: 1px solid #C6CDC2;
	padding: 5px 3px 5px 28px;
	margin-bottom: 8px;
	background: url(../../img/icon/cs.png) 3px 3px no-repeat #F7F7F7
}

/* TEXT */
.newsimg {
	padding: 3px;
	padding-right: 5px;
	float: left
}
pre {
	background-color: #EFEFE7;
	border: 1px solid #DBDBCA;
	overflow: auto;
	margin: 0;
}
blockquote {
	background-color: #E7EFEF;
	border: 1px solid #ACC8C8;
	margin: 0;
}
.pollstrip {
	background-color: #73bcdf;
	border: 1px outset #4f99c6;
	height: 10px;
}
big {font-size: 15px}
small {font-size: 11px}

/* Strony */
.pages .pageAct {
	background-color: #D1E9DA;
	border: 1px solid #C6D7D9;
	font-weight: bold
}
.pages a {
	background-color: #DAE8E9;
	border: 1px solid #C2D2D3;
	font-weight: normal;
	padding: 2px 4px;
	margin: 3px
}
.pages {padding: 8px !important; text-align: center}

/* INFO */
.error, .warning {
	background: #ffffb0 url(../../img/icon/error.png) no-repeat 6px 9px;
	border: 1px solid #d9c866;
	padding-left: 28px !important
}

/* LINKI */
.edit, .add, .del, .user, .cat, .tags, .quote, .help {
	padding-left: 20px;
	background-repeat: no-repeat
}
.del {background-image: url(../../img/icon/del.png)}
.user {background-image: url(../../img/icon/group.png)}
.edit {background-image: url(../../img/icon/edit.png); display: block; float: right}
.add {background-image: url(../../img/icon/add.png)}
.cat {background-image: url(../../img/icon/folder.png); background-position: 0 -1px}
.tags {background-image: url(../../img/icon/tag.png); background-position: 2px}
.quote {background-image: url(../../img/icon/quote.png)}
.help {background-image: url(../../img/icon/help.png)}

/* DIALOG */
.dialog {
	position: fixed;
	z-index: 99;
	padding: 5px;
	background-color: #EFEBE7;
	border: 1px solid #7F9B97;
	overflow: hidden;
}
.dialog h3 {
	margin: -5px -5px 5px -5px;
	padding: 3px;
	background-color: #95B1E8;
	text-align: center
}
.dialog .exit {
	float: right;
	width: 16px;
	cursor: pointer
}
.overlay {
	z-index: 98;
	position: fixed;
	opacity: 0.5;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}

/* HINTS */
.hint {
	border: 1px solid #7dbfd2;
	background-color: #ebfbfe;
	position: absolute;
	visibility: hidden;
	z-index: 99
}
.hint .win {
	padding: 8px;
	overflow: auto;
}
.hint .title {
	text-align: center;
	background-color: #a8dff4;
	padding: 2px
}
.menulist, .hint {
	margin: 0;
	padding: 0;
	list-style-type: none
}
.hint li, .dialog li {
	padding: 2px;
	cursor: pointer
}
.hint li:hover, .dialog li:hover {
	background-color: #fbf9db
}

/* EDITOR */
.editor {margin: 2px}
.editor span {
	background: url(../../img/editor.png) no-repeat;
	line-height: 20px
}
.editor span, .editor img {
	cursor: pointer;
	border: 1px solid #F7F7F7;
	padding: 3px
}
.editor img:hover, .editor span:hover {
	background-color: #fffdd9;
	border-color: #dedbc0
}