/*G³ówne*/
body {
	font: 13px Verdana,Helvetica,Arial,Times;
	background-color: #B9B7C0;
	margin: auto;
	width: 100%;
	max-width: 1024px;
}
a {
	text-decoration: none;
	color: #0000ff
}
a:hover {
	color: red
}
img {
	vertical-align: text-bottom;
	border: 0
}
h3 {
	font-size: 13px;
	margin: 3px 0
}
h1, h2, .tb caption {
	margin: 0;
	font: bold 13px Verdana;
	background-color: white;
	background-image: -moz-linear-gradient(top, #DDDDDD, white);
	-moz-border-radius: 7px 7px 0 0;
	border: 1px solid #888888;
	border-bottom: 0;
	text-align: center;
	padding: 3px;
}
form {margin: 0}
optgroup {font-style: normal}
textarea {font: 13px Verdana,Helvetica}
label {cursor: pointer}
input:focus {background-color: #ffffca}

/* Uk³ad strony */
#top {
	height: 80px;
	overflow: hidden;
	padding-left: 220px;
	text-align: center;
	background: #005cc4;
}
#bar {
	background-color: #ffeea8;
	padding: 3px 8px 3px 8px;
	border-width: 0 1px;
}
#bar a {
	color: #2872AE;
	font-weight: bold
}
#flags {
	float: right;
	width: 300px;
	font-size: 12px;
	letter-spacing: 5px
}
#today {
	float: right;
}
#mid {
	margin: 4px;
	padding-left: 200px;
	padding-right: 218px;
	position: relative;
	overflow: hidden;
}
#left {
	width: 182px; /* width - padding */
	margin-left: -100%;
	right: 216px;
}
#right {
	width: 182px;
	margin-right: -218px;
}
#main {
	width: 100%;
}
#left, #right, #main {
	padding: 8px 8px 10000px;
	margin-bottom: -10000px;
	position: relative;
	float: left
}
#footer {
	clear: both;
	padding: 2px;
	border-top: 0;
	text-align: center
}
#credits {
	font-size: 11px;
	text-align: center;
	color: #AAAAAA;
	margin: 5px
}
#credits a {
	color: #707070
}
* html #left {
	left: 200px; /* IE hack */
}

/* Listy */
ul,ol {margin: 9px; padding-left: 25px}
ul.go {list-style-image: url(../../img/icon/go.png)}
ul.gallery {list-style: none; padding: 0; margin: 0}
ul.gallery li {
	display: inline-block;
	width: 30%;
	padding: 5px;
	text-align: center;
}
ul.cats {
	list-style-image: url(../../img/icon/folder.png);
	overflow: hidden
}
ul.cats li {
	width: 50%;
	float: left
}
.files div {
	background: url(../../img/icon/file.png) no-repeat 6px 6px;
	padding: 3px 0 5px 32px;
	min-height: 32px;
}
.items td {
	height: 40px;
	padding-left: 40px !important;
}
.art td { background: url(../../img/icon/art.png) no-repeat 5px 50% }
.link td { background: url(../../img/icon/link.png) no-repeat 3px 50% }
.items a {font-weight: bold}
.items h3 {margin: 0}

/*Menu*/
.menu {
	background-color: white;
	padding: 2px 3px;
	margin-bottom: 7px;
	border: 1px solid #888888;
	border-top: 0;
	-moz-border-radius: 0 0 7px 7px
}
.mh {
	padding: 3px 0;
	font-weight: bold;
	text-align: center;
	background-color: white;
	border: 1px solid #888888;
	border-bottom: 0;
	background-image: -moz-linear-gradient(top, #DDDDDD, white);
	-moz-border-radius: 7px 7px 0 0
}
.menu ul {margin: 0; padding-left: 14px; list-style-type: square}
.menu ul a {display: block}
#online {text-align: center; line-height: 22px}

/*Bloki*/
th {
	background-color: #FFEEA8;
	font-weight: normal
}
.tb {
	background-color: #AAAAAA;
	width: 100%;
	margin-bottom: 8px
}
.eth, .end {
	background-color: white;
	background-image: -moz-linear-gradient(top, white, #DDDDDD);
	-moz-border-radius: 0 0 7px 7px;
	text-align: center;
	padding: 3px;
}
.end {
	border: 1px solid #888888;
	border-top: 0;
	margin: -9px 0 8px 0;
}
.box {
	overflow: hidden;
	background-color: white;
	border: 1px solid #888888;
	border-top: 0;
	padding: 3px;
	margin-bottom: 8px;
	line-height: 18px;
	text-align: justify;
	word-wrap: break-word
}
.eth td,th,pre,blockquote {padding: 2px}
.tb tbody {background-color: white}
.tb td {padding: 3px}

/* Struktura kategorii */
.cs {
	border: 1px solid #888888;
	padding: 5px 3px 5px 28px;
	margin-bottom: 8px;
	background: url(../../img/icon/cs.png) 3px 3px no-repeat white
}

/*Tekst i inne*/
.newsimg {
	padding: 3px;
	padding-right: 5px;
	float: left
}
pre {
	background-color: #EFEFE7;
	border: 1px solid #DBDBCA;
	overflow: auto;
	margin: 0;
}
blockquote {
	background-color: #E7EFEF;
	border: 1px solid #ACC8C8;
	margin: 0
}
.pollstrip {
	background-color: #ebcb9c;
	border: 1px outset #d2b473;
	height: 10px;
}
big {font-size: 15px}
small {font-size: 11px}

/* Strony */
.pages .pageAct {
	background-color: #D1E9DA;
	border: 1px solid #C6D7D9;
	font-weight: bold
}
.pages a {
	background-color: #DAE8E9;
	border: 1px solid #C2D2D3;
	font-weight: normal;
	padding: 2px 4px;
	margin: 3px
}
.pages {padding: 8px !important; text-align: center}

/* INFO */
.error, .warning {
	background: white url(../../img/icon/error.png) no-repeat 6px 9px;
	padding-left: 28px !important
}

/* LINKI */
.edit, .add, .del, .user, .cat, .tags, .quote {
	padding-left: 20px;
	background-repeat: no-repeat
}
.del {background-image: url(../../img/icon/del.png)}
.user {background-image: url(../../img/icon/group.png)}
.edit {background-image: url(../../img/icon/edit.png); display: block; float: right}
.add {background-image: url(../../img/icon/add.png)}
.cat {background-image: url(../../img/icon/folder.png); background-position: 0 -1px}
.tags {background-image: url(../../img/icon/tag.png); background-position: 2px}
.quote {background-image: url(../../img/icon/quote.png)}

/* DIALOG */
.dialog {
	position: fixed;
	z-index: 99;
	padding: 5px;
	background-color: white;
	border: 1px solid #7F9B97;
	overflow: hidden;
}
.dialog h3 {
	margin: -5px -5px 5px -5px;
	padding: 3px;
	background-color: #95B1E8;
	text-align: center
}
.dialog .exit {
	float: right;
	width: 16px;
	cursor: pointer
}
.overlay {
	z-index: 98;
	position: fixed;
	opacity: 0.5;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}
.hint {
	border: 1px solid #89a5a9;
	background-color: white;
	position: absolute;
	visibility: hidden;
	z-index: 99;
}
.hint .win {
	padding: 8px;
	overflow: auto;
}
.hint .title {
	text-align: center;
	background-color: #a8dff4;
	padding: 2px
}
.menulist, ul.hint {
	margin: 0;
	padding: 0;
	list-style-type: none
}
.hint li, .dialog li {
	padding: 2px;
	cursor: pointer
}
.hint li:hover, .dialog li:hover {
	color: blue
}

/*Edytor*/
.editor {margin-top: 2px}
.editor span {
	background: url(../../img/editor.png) no-repeat;
	line-height: 20px
}
.editor img, .editor span {
	cursor: pointer;
	padding: 4px;
	vertical-align: middle;
	border: 1px solid transparent;
}
.editor img:hover, .editor span:hover {
	background-color: #fff4aa;
}