<table cellspacing="1" class="tb">
<tbody class="bg">
<tr>
	<td class="h" colspan="2"><b>{this->title}</b></td>
</tr>
<tr><td>
	<fieldset style="float: left; width: 205px">
		<legend>{lang.add}</legend>
		<ul class="go" style="background-image: url(img/icon/add.png)">
		<li><a href="?co=edit&amp;act=art">{lang.arts}</a></li>
		<li><a href="?co=edit&amp;act=file">{lang.files}</a></li>
		<li><a href="?co=edit&amp;act=img">{lang.imgs}</a></li>
		<li><a href="?co=edit&amp;act=link">{lang.links}</a></li>
		<li><a href="?co=edit&amp;act=new">{lang.news}</a></li>
		</ul>
	</fieldset>
	<fieldset style="float: right; width: 205px; break: both">
		<legend>{lang.list}</legend>
		<ul style="list-style-image: url(img/icon/go.png)">
		<li><a href="?co=edit&amp;act=1">{lang.arts}</a></li>
		<li><a href="?co=edit&amp;act=2">{lang.files}</a></li>
		<li><a href="?co=edit&amp;act=3">{lang.imgs}</a></li>
		<li><a href="?co=edit&amp;act=4">{lang.links}</a></li>
		<li><a href="?co=edit&amp;act=5">{lang.news}</a></li>
		</ul>
	</fieldset>
</td></tr>
</tbody>
</table>
