.adm {
	margin-bottom: 8px;
	background: #F7F7F7;
	border: 1px solid #C6CDC2;
	padding: 3px;
}
.adm ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 20px;
}
.adm li {background-repeat: no-repeat; background-position: 0; padding-left: 22px}
.adm li a {display: block} /*color: #0d4439*/

.a_cat {background: url(../../img/icon/folder.png)}
.a_poll {background: url(../../img/icon/poll.png)}
.a_page,.a_ads {background: url(../../img/icon/win.png)}
.a_user {background: url(../../img/icon/group.png)}
.a_log {background: url(../../img/icon/flag.png)}
.a_mail {background: url(../../img/editor/mail.png)}
.a_cfg,.a_db {background: url(../../img/icon/cog.png)}
.a_plug {background: url(../../img/icon/plugin.png)}
.a_menu {background: url(../../img/icon/edit.png)}