php_value session.use_only_cookies 1
php_value session.use_trans_sid 0
php_value register_globals 0
php_value magic_quotes_gpc 0

RewriteEngine Off
RewriteRule ^([a-z]+)([0-9]+)$ index.php?co=$1&id=$2 [L,QSA]
RewriteRule ^([0-9]+)$ index.php?d=$1 [L,QSA]
RewriteRule ^([a-z0-9]+)$ index.php?co=$1 [L,QSA]
RewriteRule ^([a-z]+)-([a-z]+)$ index.php?co=$1&act=$2 [L,QSA]
RewriteRule ^([a-z]+)-([a-z]+)([0-9]+)$ index.php?co=$1&act=$2&id=$3 [L,QSA]