<table cellspacing="1" class="tb">
<tbody class="bg">
<tr>
	<td class="h" colspan="5"><b>{lang.admins}</b></td>
</tr>
<tr>
	<th>{lang.login}</th>
	<th style="width: 40%">{lang.privs}</th>
	<th style="width: 30%">{lang.opt}: {lang.edit}</th>
</tr>

<!-- START admin -->
<tr>
	<td><a href="{url}">{login}</a></td>
	<td align="center">{rights}</td>
	<td align="center">
		<a href="{url1}">{lang.privs}</a> &middot; <a href="{url2}">{lang.profile}</a>
	</td>
</tr>
<!-- STOP -->

</tbody>
</table>