<table cellspacing="1" class="tb">
<tbody class="bg">
<tr>
	<td class="h" colspan="2"><b>{lang.config}</b></td>
</tr>
<tr>
	<td><a href="?a=configMain"><img src="img/admin/c1.png" alt="" /> {lang.conf1}</a></td>
	<td><a href="?a=configContent"><img src="img/admin/c2.png" alt="" /> {lang.content}</a></td>
</tr>
<tr>
	<td><a href="?a=configEmail"><img src="img/admin/c3.png" alt="" /> E-mail</a></td>
	<td><a href="?a=censor"><img src="img/admin/c5.png" alt="" /> {lang.conf5}</a></td>
</tr>
<tr>
	<td><a href="?a=emots"><img src="img/admin/c6.png" alt="" /> {lang.emots}</a></td>
	<td><a href="?a=configUsers"><img src="" alt="" /> {lang.ua}</a></td>
</tr>

<!-- IF plugins -->
<tr>
	<th colspan="2">{lang.plugs}</td>
</tr>
<tr>
	<!-- START plugins -->
	<td>
		<a href="?a={ID}"><img src="{img}" alt="ENTER" /> {name}</a>
	</td>
	<!-- STOP -->
</tr>
<!-- END -->

</tbody>
</table>