<form action="?a=configMain" method="post" f3:array="cfg" f3:mode="isset">
<h2>{lang.mainopt}</h2>

<table cellspacing="1" class="tb">
<tbody class="bg">
<tr>
	<th colspan="2">{lang.docmeta}</th>
</tr>
<tr>
	<td style="width: 45%"><b>{lang.deflang}:</b></td>
	<td><select name="lang">{langlist}</select></td>
</tr>
<tr>
	<td><b>{lang.doctit}:</b></td>
	<td><input name="title" size="30" value="{cfg.title}" /></td>
</tr>
<tr>
	<td><b>{lang.footer}:</b></td>
	<td><textarea name="footer" cols="37" rows="4">{Clean: cfg.footer}</textarea></td>
</tr>
<tr>
	<td><b>{lang.metad}:</b><div class="txtm">{lang.ind}</div></td>
	<td><textarea name="metaDesc" cols="37" rows="3">{cfg.metaDesc}</textarea></td>
</tr>
<tr>
	<td><b>{lang.dkh} &lt;head&gt;:</b><div class="txtm">{lang.dkhd}</div></td>
	<td><textarea name="head" rows="6" cols="37">{Clean: cfg.head}</textarea></td>
</tr>
<tr>
	<td><b>{lang.robots}:</b></td>
	<td><select name="robots">
		<option value="all">{lang.iall} (all)</option>
		<option value="index,nofollow">{lang.iindex} (index, nofollow)</option>
		<option value="noindex,follow">{lang.iflw} (noindex, follow)</option>
		<option value="none">{lang.inone} (none)</option>
	</select></td>
</tr>
<tr>
	<td><b>{lang.styl}:</b></td>
	<td><select name="skin">{skinlist}</select></td>
</tr>

<tr>
	<th colspan="2">{lang.date}</th>
</tr>
<tr>
	<td><b>{lang.dateaf}:</b><div class="txtm">{lang.datefd}</div></td>
	<td><input type="text" name="date" value="{cfg.date}" /></td>
</tr>
<tr>
	<td><b>{lang.date1f}:</b><div class="txtm">{lang.date1d}</div></td>
	<td><input type="text" name="dateFormat" value="{cfg.dateFormat}" /></td>
</tr>
<tr>
	<td><b>{lang.date2f}:</b><div class="txtm">{lang.date2d}</div></td>
	<td><input type="text" name="timeFormat" value="{cfg.timeFormat}" /></td>
</tr>
<tr>
	<td><b>{lang.lastv}?</b></td>
	<td><input type="checkbox" name="lastVisit" /></td>
</tr>

<tr>
	<th colspan="2">{lang.users}</th>
</tr>
<tr>
	<td><b>{lang.pmOn}?</b></td>
	<td><input type="checkbox" name="pmOn" /></td>
</tr>
<tr>
	<td><b>{lang.pml}:</b></td>
	<td><input name="pmLimit" value="{cfg.pmLimit}" style="width: 50px" /></td>
</tr>
<tr>
	<td><b>{lang.userFind}:</b></td>
	<td><input type="checkbox" name="userFind" /></td>
</tr>
<tr>
	<td><b>{lang.newPass}:</b></td>
	<td><input type="checkbox" name="newPass" /></td>
</tr>
<tr>
	<td><b>{lang.alng}?</b><div class="txtm">{lang.alngd}</div></td>
	<td><input type="checkbox" name="detectLang" /></td>
</tr>
<tr>
	<td><b>{lang.banip}:</b><div class="txtm">{lang.banipd}</div></td>
	<td><textarea rows="4" cols="30" name="ban">{cfg.ban}</textarea></td>
</tr>

<tr>
	<th colspan="2">{lang.comms}</th>
</tr>
<tr>
	<td><b>{lang.commNum}:</b><div class="txtm">{lang.commNum2}</div></td>
	<td><input name="commNum" value="{cfg.commNum}" style="width: 30px" /></td>
</tr>
<tr>
	<td><b>{lang.guestcomm}?</b><div class="txtm">{lang.gcommd}</div></td>
	<td><input type="checkbox" name="commGuest" /></td>
</tr>
<tr>
	<td><b>{lang.isec}:</b><div class="txtm">{lang.isecd}</div></td>
	<td><input type="checkbox" name="captcha" /></td>
</tr>
<tr>
	<td><b>{lang.bbcon}?</b></td>
	<td><input type="checkbox" name="bbcode" /></td>
</tr>
<tr>
	<td><b>{lang.wch}?</b></td>
	<td><input type="checkbox" name="censor" /></td>
</tr>
<tr>
	<td><b>{lang.comml}:</b><br /><small>{lang.0off}</small></td>
	<td><input name="antyFlood" value="{cfg.antyFlood}" style="width: 50px" /> sec.</td>
</tr>
<tr>
	<td><b>{lang.moderate}:</b><br /><small>{lang.cmod_d}</small></td>
	<td><input type="checkbox" name="moderate" /></td>
</tr>
<tr>
	<td><b>{lang.commSort}:</b></td>
	<td>
		<input type="radio" name="commSort" value="1" /> {lang.commSort1} &nbsp;
		<input type="radio" name="commSort" value="2" /> {lang.commSort2}
	</td>
</tr>

<tr>
	<th colspan="2">{lang.poll}</th>
</tr>
<tr>
	<td><b>{lang.common}?</b></td>
	<td><input type="checkbox" name="pollComm" /></td>
</tr>
<tr>
	<td><b>{lang.pcount}:</b><br /><small>{lang.pcountd}</small></td>
	<td><input name="pollRound" value="{cfg.pollRound}" style="width: 30px" /></td>
</tr>

<tr>
	<td class="eth" colspan="2"><input type="submit" value="{lang.save}" /></td>
</tr>
</tbody>
</table>
</form>