<form action="?a=poll" method="post">
<table cellspacing="1" class="tb">
<tbody class="bg">
<tr>
	<td class="h" colspan="5"><b>{lang.groups}</b></td>
</tr>

<tr>
	<th>{lang.name}</th>
	<th style="width: 55px">{lang.votes}</th>
	<th style="width: 60px">{lang.lang}</th>
	<th>{lang.opt}</th>
	<th style="width: 30px"></th>
</tr>

<!-- START polls -->
<tr>
	<td>{num}. <a href="index.php?co=poll&amp;id={ID}">{title}</a></td>
	<td align="center">{votes}</td>
	<td align="center">{access}</td>
	<td align="center"><a href="?a=editpoll&amp;id={ID}">{lang.edit}</a></td>
	<td align="center"><input type="checkbox" name="chk{ID}" /></td>
</tr>
<!-- STOP -->

<tr>
	<td colspan="5" class="eth">
		<input type="submit" style="display: none" />
		<input type="submit" name="delp" value="{lang.del}" />
		<input type="submit" name="zerp" value="{lang.zerp}" />
	</td>
</tr>
</tbody>
</table>
</form>