ul.config {
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0
}
ul.config li {
	width: 250px;
	height: 67px;
	padding: 0 75px 0 0;
	background-repeat: no-repeat;
	float: left
}
ul.config a {
	padding: 22px 0 22px 75px;
	display: block;
}
li.c1 {background-image: url(../../img/admin/c1.png)}
li.c2 {background-image: url(../../img/admin/c2.png)}
li.c3 {background-image: url(../../img/admin/c3.png)}
li.c4 {background-image: url(../../img/admin/c4.png)}
li.c5 {background-image: url(../../img/admin/c6.png)}
li.c6 {background-image: url(../../img/admin/c5.png)}
li.c7 {background-image: url(../../img/admin/c7.png)}